.EventMap h3 {
color: white;
text-shadow: 1px 1px 2px black, 0 0 25px rgb(204, 40, 40), 0 0 8px rgb(83, 9, 9);
text-align: center;
padding-top: 50px;
padding-bottom: 50px; 
font-size: 30px;
}

/* .EventMap {
margin: 0 auto;
margin-top: 30px;
border-width: 10px;
border-color: black; 
overflow: hidden;
} */

